/* line 1, /var/www/html/clonerest/styles/reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 7, /var/www/html/clonerest/styles/reset.scss */
*, button, input {
  font-family: -apple-system, Ubuntu, Arial, sans-serif; }

/* line 11, /var/www/html/clonerest/styles/reset.scss */
*, li {
  list-style: none; }

/* line 1, /var/www/html/clonerest/styles/animations.scss */
.animate-before {
  transform: translateY(40px);
  opacity: 0;
  pointer-events: none; }

/* line 7, /var/www/html/clonerest/styles/animations.scss */
.animate-after {
  transform: transitionY(-40px);
  opacity: 0;
  pointer-events: none; }

/* line 1, /var/www/html/clonerest/styles/header.scss */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 28px 15px 24px; }
  /* line 7, /var/www/html/clonerest/styles/header.scss */
  header h3 {
    color: #e60023;
    font-size: 20px;
    font-weight: 700; }
  /* line 12, /var/www/html/clonerest/styles/header.scss */
  header nav {
    display: flex;
    align-items: center; }
    /* line 17, /var/www/html/clonerest/styles/header.scss */
    header nav ul li {
      padding: 16px; }
      /* line 20, /var/www/html/clonerest/styles/header.scss */
      header nav ul li a {
        text-decoration: none;
        font-size: 16px;
        color: #111;
        font-weight: 700; }
        /* line 26, /var/www/html/clonerest/styles/header.scss */
        header nav ul li a:hover {
          text-decoration: underline; }
    /* line 32, /var/www/html/clonerest/styles/header.scss */
    header nav .buttons {
      display: flex;
      margin-left: 24px; }
      /* line 36, /var/www/html/clonerest/styles/header.scss */
      header nav .buttons button {
        font-size: 16px;
        font-weight: 700;
        padding: 11px 12px;
        border-radius: 24px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center; }
      /* line 47, /var/www/html/clonerest/styles/header.scss */
      header nav .buttons .login {
        color: #fff;
        background: #e60023; }
      /* line 51, /var/www/html/clonerest/styles/header.scss */
      header nav .buttons .signup {
        margin-left: 16px;
        background: #efefef; }

/* line 1, /var/www/html/clonerest/styles/heading.scss */
.heading {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  /* line 8, /var/www/html/clonerest/styles/heading.scss */
  .heading .text {
    font-size: 60px; }
  /* line 12, /var/www/html/clonerest/styles/heading.scss */
  .heading .wrapper {
    position: relative; }
    /* line 15, /var/www/html/clonerest/styles/heading.scss */
    .heading .wrapper .offset {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-50%); }
    /* line 22, /var/www/html/clonerest/styles/heading.scss */
    .heading .wrapper .text {
      white-space: nowrap;
      color: #e60023;
      transition-duration: 1s; }

/* line 1, /var/www/html/clonerest/styles/grid.scss */
.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; }

/* line 8, /var/www/html/clonerest/styles/grid.scss */
.grid {
  display: grid;
  grid-template-columns: repeat(7, 252px);
  max-height: 0px;
  visibility: hidden;
  pointer-events: none; }
  /* line 16, /var/www/html/clonerest/styles/grid.scss */
  .grid.active {
    max-height: unset;
    visibility: visible;
    pointer-events: auto; }

/* line 23, /var/www/html/clonerest/styles/grid.scss */
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s; }
  /* line 31, /var/www/html/clonerest/styles/grid.scss */
  .column:nth-child(1) {
    margin-top: 0;
    transition-delay: 0s; }
  /* line 35, /var/www/html/clonerest/styles/grid.scss */
  .column:nth-child(2) {
    margin-top: 160px;
    transition-delay: 0.2s; }
  /* line 39, /var/www/html/clonerest/styles/grid.scss */
  .column:nth-child(3) {
    margin-top: 320px;
    transition-delay: 0.4s; }
  /* line 43, /var/www/html/clonerest/styles/grid.scss */
  .column:nth-child(4) {
    margin-top: 480px;
    transition-delay: 0.6s; }
  /* line 47, /var/www/html/clonerest/styles/grid.scss */
  .column:nth-child(5) {
    margin-top: 320px;
    transition-delay: 0.8s; }
  /* line 51, /var/www/html/clonerest/styles/grid.scss */
  .column:nth-child(6) {
    margin-top: 160px;
    transition-delay: 1s; }
  /* line 55, /var/www/html/clonerest/styles/grid.scss */
  .column:nth-child(7) {
    margin-top: 0;
    transition-delay: 1.2s; }

/* line 60, /var/www/html/clonerest/styles/grid.scss */
.item {
  width: 236px;
  height: 350px;
  background: #e60023;
  border-radius: 10px; }

/* line 66, /var/www/html/clonerest/styles/grid.scss */
.item:not(:first-child) {
  margin-top: 16px; }
